// Colors
$darkGrey: #323232;
$white: #f8f8ff;
$gray: #808080;
$black: #2f2f2f;
$blue: #3366cc;

$backgroundDarker: #252627;
$backgroundDark: #292a2d;

//Fonts
$fontCode: 'Fira Mono', monospace;

// Content
$breakLarge: 992px;
$width: 760px;

// break point
$smartPhoneWidth: 390px;
$tabletWidth: 749px;

// text
$link: cornflowerblue;
$linkVisited: cornflowerblue; 
$linkHover: cornflowerblue;
$linkActive: cornflowerblue;
$pathColor: cornflowerblue;
$hostColor: aquamarine;
