@import "./components/cite_table";
@import "./components/footer";
@import "./components/header";
@import "./pages/single";
@import "./pages/list";

@import "./utils/variables";

body {
    font-family: monospace;
    color: $white;
    background-color: $backgroundDark;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; /* Safari */
}

.title-string {
    color: $white;
    text-decoration: none;
}

.host {
    color: $hostColor;
}

.path {
    color: $pathColor;
}

.scroll {
    overflow-y: scroll;
}

#scroll-inner {
    height: max-content;
}

pre code {
  font-family: $fontCode;
  font-size: 75%;
  display: block;
  background: $backgroundDarker;
  padding: 10px;
  overflow: auto;
}

code {
  font-family: $fontCode;
  font-size: 75%;
}

a {
    text-decoration: none;
    color: $link;
}
