{{ define "title"}}
{{ .Title }} | {{ .Site.Params.siteName }}
{{ end }}

{{ define "main" }}

{{ if .Params.show_cite | default false }}
<div style="margin-bottom: 20px;">
{{ partial "cite_table.html" . }}
</div>
{{ end }}

{{ with .Content }}
<div class="listContent">
    {{- . -}}
</div>
{{ end }}
<table class="lsTable">
    {{ range .Pages.ByTitle }}
    {{ $isDirectory := false }}
    {{ if in (slice "section" "term") .Page.Kind }}
        {{ $isDirectory = true }}
    {{ else }}
        {{ if .Params.isDirectory | default false }}
            {{ $isDirectory = true }}
        {{ end }}
    {{ end }}
    <tr>
        <td class="permission">
            {{ if $isDirectory }}drwxr-xr-x{{ else }}-rw-r--r--{{ end }}
        </td>
        <td class="numOfHardLinks">
            1
        </td>
        <td class="owner">
            root
        </td>
        <td class="group">
            root
        </td>
        <td class="integer size">
            {{ if $isDirectory }}4096{{ else }}{{ len .Content }}{{ end }}
        </td>
        <td class="month">
            {{ .Date.Month }}
        </td>
        <td class="integer day">
            {{ .Date.Day }}
        </td>
        <td class="integer year">
            {{ .Date.Year }}
        </td>
        <td class="name">
            {{ if $isDirectory }}
            <a href="{{ .Permalink }}" class="directory">{{ .Title }}</a>
            {{ else }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
        </td>
    </tr>

    {{end}}
</table>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}

