{{ define "title"}}
{{ .Title }} | {{ .Site.Params.siteName }}
{{ end }}

{{ define "main" }}

{{ if .Params.show_cite | default false }}
<div style="margin-bottom: 20px;">
{{ partial "cite_table.html" . }}
</div>
{{ end }}

{{/* TODO list の owner, group に対応する */}}
<table class="lsTable">
    {{ $Site := .Site }}
    {{ range sort .Pages "Title"}}
    {{ $type := cond (in (slice "section" "term") .Page.Kind) "directory" "file" }}
    {{ $size := cond (eq $type "directory") 4096 (len .Content) }}
    {{ $Record := dict
        "name" .Title
        "path" .Permalink
        "type" $type
        "permission" "775"
        "year" .Date.Year
        "month" .Date.Month
        "day" .Date.Day
        "size" $size
        }}
    {{ partial "menu_record" (dict "Record" $Record "Site" $Site "Global" $) }}
{{ end }}
</table>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}

