{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author }}
{{ end }}

{{ define "main" }}
<div class="postWrapper">
    <h1>{{ .Title }}</h1>
    {{ if .Site.Params.showMetadata | default true }}
    <section class="singleMetadata">
        <dl>

            {{ if .Site.Params.readingTime | default true }}
            <dt>{{ i18n "reading_time" }}</dt>
            <dd>{{ i18n "reading_time_desc" .ReadingTime }}</dd>
            {{ end }}
        </dl>
    </section>
    {{ end }}
    <div>
        {{ .Content }}
    </div>
</div>

{{ end }}

{{ define "footer" }}
{{ $charCount := len .Content }}
<footer class="vimfooter">
    <div class="footerInput">
        "{{ .Page.File }}" [readonly] {{ $charCount }}B
    </div>
</footer>
{{ end }}

