<table class="lsTable">
    {{ range sort .Site.Params.social "name"}}
    <tr>
        <td class="permission">
            {{ if .isDirectory | default true }}drwxr-xr-x{{ else }}-rw-r--r--{{ end }}
        </td>
        <td class="numOfHardLinks">
            1
        </td>
        <td class="owner">
            root
        </td>
        <td class="group">
            root
        </td>
        <td class="integer size">
            {{ if .isDirectory | default true }}4096{{ else }}1{{ end }}
        </td>
        <td class="month">
            Aug
        </td>
        <td class="integer day">
            1
        </td>
        <td class="integer year">
            2023
        </td>
        <td class="name">
            {{ if .isDirectory | default true }}
            <a href="{{ .name | safeURL }}/" {{ if .rel }} rel="{{ .rel }}" {{ end }} class="directory">{{
                .name
                }}</a>
            {{ else }}
            <a href="{{ .url | safeURL }}" {{ if .rel }} rel="{{ .rel }}" {{ end }}>{{ .name }} -> {{ .url }}</a>
            {{ end }}
        </td>
    </tr>
    {{ end }}
</table>
